{% extends 'base.html' %}
<html lang="en">
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-light bg-warning">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style="font-family:'Courier New'"><strong>✨Welcome, {{nama}}✨</strong></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active" style="font-family:'Courier New'"><a href="{% url 'wishlist:logout' %}"><strong>Log Out</strong></a></li>
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </ul>
        </div>
    </nav>
</head>

<body>
    <h5>Nama: </h5>
    <b>{{nama}}</b>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark"><tr class="table-info">
        <th class="table-info">Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr></thead>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}

        <tbody>
        {% for barang in list_barang %}
            <tr>
                <td>{{barang.nama_barang}}</td>
                <td>{{barang.harga_barang}}</td>
                <td>{{barang.deskripsi}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5 style="font-family: 'Courier New'; padding: 5px;">Sesi terakhir login: {{ last_login }}</h5>
    <!-- <button><a href="{% url 'wishlist:logout' %}">Logout</a></button> -->
</body>
<style>
    body {
        margin: 15px;
        font-family: 'Courier New'; 
        padding: 5px; 
        margin: 10px;
        background-color:blanchedalmond;
    }
    table {
        margin-top: 10px;
    }
    li {
        margin-right: 10px;
    }
</style>
{% endblock content %}
</html>